@reference "tailwindcss" {}@layer components {
  [data-section] iframe {
    @apply pointer-events-none {}
  }
  .overflow-y-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .overflow-y-auto::-webkit-scrollbar {
    display: none;
  }
  .btn--page.disabled {
    @apply pointer-events-none opacity-40 {}
  }
  .tab-grid {
    @apply flex flex-wrap -mx-2 mt-6 {}
  }
  .tab-grid .card {
    @apply w-1/2 px-2 mb-6 sm:w-1/3 md:w-1/4 lg:w-1/5 {}
  }
  .truncate-toggle {
    @apply cursor-pointer {}
  }
  .overlay-infoSwipe {
    --delay: 1000ms;
    --delayArrow: calc(var(--delay)/2);
    --delayHand: calc(var(--delay)/3);
    --delayHandHide: var(--delay)-var(--delayHand);
    animation: overlay-infoSwipeHide 1.5s var(--delay) both;
  }
  .overlay-infoSwipe-hand {
    animation: overlay-infoSwipeWrap 1.5s var(--delayHand) both infinite, overlay-infoSwipeHide 1.5s var(--delayHandHide) both infinite;
  }
  .overlay-infoSwipe-hand #arrow {
    animation: overlay-infoSwipeHide 1.5s var(--delayArrow) both infinite;
  }
  .overlay-infoSwipe-hand #hand {
    animation: overlay-infoSwipeHand 1.5s var(--delayArrow) both infinite;
  }
  .overlay-splash svg {
    animation: overlay-splash 2s ease infinite;
  }
  @keyframes overlay-infoSwipeWrap {
    100% {
      height: 5rem;
    }
  }
  @keyframes overlay-infoSwipeHide {
    100% {
      display: none;
      opacity: 0;
    }
  }
  @keyframes overlay-infoSwipeHand {
    100% {
      transform: translateY(-10px);
      transform-origin: top center;
      scale: .9;
    }
  }
  @keyframes overlay-splash {
    0%,
    100% {
      scale: 1.2;
      opacity: 100%;
    }
    80% {
      scale: 1;
      opacity: 50%;
    }
  }
}
